<div class="row">
    <div class="col-md-4">
        <h4>Algorithm ID:</h4>
        <%= @result.algorithm_id %>
        <h4>Hausdorff</h4>
        <%= @result.hausdorff %>
        <h4>Dice</h4>
        <%= @result.dice %>
        <h4>Dataset ID</h4>
        <%= @result.dataset_id %>
    </div>
</div>
